
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>name bank</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/signin">Login</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron" >
        <h3>Cadastre-se</h3>
        
      <form class="form-signin" id="myForm" enctype="multipart/form-data">
         <label for="name" class="sr-only">Nome</label>
         <input type="name" name="name" id="name" class="form-control" placeholder="Nome Completo" required autofocus>
         <label for="email" class="sr-only">Email</label>
         <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" required>
         <label for="password" class="sr-only">Password</label>
         <input type="password" name="password" id="password" class="form-control" placeholder="Senha" required>
         <label for="cpf" class="sr-only">CPF</label>
         <input type="text" name="cpf" id="cpf" class="form-control" placeholder="CPF" required>
         <label for="birth" class="sr-only">birth</label>
         <input type="date" name="birth" id="birth" class="form-control" placeholder="Data de Nascimento" required><br>

         <label for="phone" class="sr-only">Telefone</label>
         <input type="tel" name="phone" id="phone" class="form-control" placeholder="Telefone" >
         <label for="address" class="sr-only">Endereço</label>
         <input type="text" name="address" id="address" class="form-control" placeholder="Endereço" >
         <label for="number" class="sr-only">Numero</label>
         <input type="number" name="number" id="number" class="form-control" placeholder="Número" >
         <input type="text" name="complement" id="complement" class="form-control" placeholder="Complemento" >
         <label for="cpf" class="sr-only">CPF</label>
         <input type="text" name="country" id="country" class="form-control" placeholder="Município" >
         <label for="district" class="sr-only">Bairro</label>
         <input type="text" name="district" id="district" class="form-control" placeholder="Bairro" >
         <label for="CEP" class="sr-only">CEP</label>
         <input type="text" name="cep" id="cep" class="form-control" placeholder="CEP" ><br>

         <button id="btnSignUp"  class="btn btn-lg btn-primary btn-block" value="url_for('/')" type="submit">Cadastrar</button>
         <button id="btnMain"  class="btn btn-lg btn-primary btn-block" onclick="location.href='/signin'" type="button">Inicio</button>
      </form>
    </div>
    <script>
      
      const myForm = document.getElementById('myForm');
      
      myForm.addEventListener('submit', function(e){
        e.preventDefault();
        
        const formData = new FormData(this);
        const searchParams = new URLSearchParams();

        for (const pair of formData){
          searchParams.append(pair[0], pair[1], pair[2], pair[3], pair[4])
        }  


          fetch('http://localhost:5000/api/person/signup/', {
            method: 'POST',
            mode: 'no-cors',
            headers: {
              'Content-Type': 'application/json',
            },
            body: {
              searchParams
            }
          }).then(function (response){
            return response.text();
          }).then(function (text){
            console.log(text);
          }).catch(function (error){
            console.error(error);
          })
        });
      
      
      </script>

      <footer class="footer">
      </footer>

    </div>
  </body>
</html>
