<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Maintenance</title>
  <style>
    body{
      font-family: 'Titillium Web', sans-serif;
      color: #666666;
      text-align: center;
    }
    .box{
      background-color: #fff;
      width: 700px;
      margin: 70px auto;
    }
    #title {
      font-size: 30px;
      margin-top: 25px;
    }
    #descricao{
      font-size:20px;
      margin: 20px auto;
    }
    #logo {
      margin-top: 25px;
      max-width: 365px;
      height: auto;
    }
    #logo-task {
      width: 75px;
    }
  </style>
</head>
<body>
  <div class="box">
    <img src="/static/img/k9auBIF.png" id="logo">
    <div id="title">
        SITE IN MAINTENANCE    
    </div>

    </a>
  </div>
</body>
</html>